:root {
    --purple-100: #e2d9f3;
    --purple-200: #c5b4e5;
    --purple-300: #a98eda;
    --purple-500: #7042c1;
    --purple-600: #59359a;
    --purple-700: #432874;
    --yellow-100: #fdf3cd;
    --yellow-200: #ffe69b;
    --yellow-300: #ffd969;
    --yellow-400: #ffcd38;
    --yellow-500: #ffc007;
}

body {
    margin-bottom: 80px;
    margin-top: 0px;
}

.navbar {
    /* justify-content: space-around; */
    width: auto;
}
.nav-button {
    display: flex;
    flex-direction: column;
}

.white-text {
    color: white;
}

a.white-text:hover {
    /* color: var(--yellow-200); */
    cursor: pointer;
}

.carousel {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
form {

}

.form-label {
    font-weight: bold;
    color: var(--purple-500);
    display: block;
}

.card {
    max-width: 800px;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 10px auto 10px auto;
}

.container-fluid {
    width: 33.3333vw;
    padding: 0;
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

.nav-icon {
    margin-right: 0;
}

.nav-icon:hover, .form-check-input:hover {
    cursor: pointer;
}

.card-header {
    background-color: var(--yellow-100);

}
.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-heart, .filled-heart {
    /* transition-duration: .1s; */
    /* position: absolute; */
}

.empty-heart {

}

.filled-heart {

}

.heart:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.card-links {
    text-align: center;
}

.btn {
    border: 2px solid var(--purple-500);
}

.card-link {
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid var(--purple-500);
    /* border: var(--purple-500); */
}

.collapse {
    /* background-color: var(--purple-100); */

}

/* .toast {
    margin: 20px;
} */

.toast-body {
    display: flex;
    align-items: center;
}

#toast-text {
    margin: 0 0 0 8px;
}
.card-link:hover, .btn:hover {
    border: 2px solid var(--purple-600);
}

.white-btn {
    color: var(--purple-500);
    background-color: white;
}

.white-btn:hover {
    color: var(--purple-600);
}

.purple-btn {
    color: white;
    background-color: var(--purple-500);
}

.purple-btn:hover, .purple-btn:focus, .custom-control-label:before {
    background-color: var(--purple-600);
    color: white;
}

h1 {
    text-align: center;
    padding: 50px;
}

#searchForm {
    max-width: 600px;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 50px auto 50px auto;
}

#jobs {
    margin-top: 50px;
}

.job-category-selection, .experience-levels {
    /* height: 150px;
    overflow-y: scroll; */
    text-align: center;
    /* border: 1px solid var(--yellow-300);
    ; */
    padding: 8px;
    margin: 8px 0 8px 0;
}
/* ***************************
Tablet Media Query
*************************** */

/* textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--yellow-300);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--yellow-300);
  outline: 0 none;
} */

.form-control:focus {
    border-color: var(--yellow-300);

}

button:focus, .btn-primary:active, .form-control:focus, .btn:focus, .page-link:focus {   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--purple-300);
    outline: 0 none;
    border-color: var(--purple-600);
}

.form-check {
    background-color: var(--yellow-200);   
    padding: 8px;
    float: none !important;
    /* margin-left: 0px !important;  */
    margin: 2px !important;
    border-radius: 100px;
}

.form-check-input {
    float: none !important;
    margin-left: 0px !important; 
    border-radius: 100px !important;
}

.form-check-input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--purple-300);
    border-color: var(--purple-600);
}

.form-check-input:checked {
    background-color: var(--purple-500);
    border-color: var(--purple-600);

}

.italics {
    font-style: italic;
}

#page-display {
    text-align: center;
}

.page-link {
    color: var(--purple-500);
}

.page-link:hover {
    color: var(--purple-600);
}

@media screen and (min-width: 480px) {
    body {
        margin-bottom: 0px;
        margin-top: 80px;
    }
    h1 {
        font-size: 3.25rem;
    }
}

/* ***************************
Desktop Media Query
*************************** */

@media screen and (min-width: 769px) {
    h1 {
        font-size: 4rem;
    }
}